*.xcuserstate
LuckyCardGame/LuckyCardGame/.DS_Store
LuckyCardGame/.DS_Store
LuckyCardGame/LuckyCardGame.xcodeproj/project.xcworkspace/xcuserdata/sangyeon.xcuserdatad/UserInterfaceState.xcuserstate
*.xcbkptlist
